{% extends 'base.html.twig' %}

{% block title %}Product {{ product.name }}{% endblock %}

{% block body %}
    <ul>
        <li>
            <h3>{{ product.name }}</h3>
            <strong>{{ product.price|format_currency('EUR', locale='fr') }}</strong>
        </li>
    </ul>
    <a href="{{ path('product_index') }}">See list...</a>
{% endblock %}
