{% extends 'base.html.twig' %}

{% block title %}Product {{ product.name }}{% endblock %}

{% block body %}
    <ul>
        <li>
            <h3>{{ product.name }}</h3>
            <strong>{{ price|format_currency(currency, locale=country) }}</strong>
        </li>
    </ul>
    <a href="{{ path('product_index') }}">See list...</a>
{% endblock %}
